@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$primary-font-family : 'League Spartan',
sans-serif;

$font-weight-400 : 400;
$font-weight-500 : 500;
$font-weight-700 : 700;

$primary-color : hsl(300, 43%, 22%);
$accent-color : hsl(333, 80%, 67%);

$neutral-dark-color : hsl(303 10% 53%);
$neutral-light-color : hsl(300 24% 96%);

body {
    background-image: url(/images/bg-pattern-bottom-desktop.svg), url(/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right, left;
    margin: 117px 165px;
    text-align: center;
    font-family: $primary-font-family;


    @media (width < 750px) {
        width: 375px;
        background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position-x: left, right;
        background-position-y: top, bottom; 
        display: flex;
        flex-direction: column;
        /* align-items: center; */  
        margin: 82px 24px; 
    }
}


.top-section {
    margin-bottom: 72px;
    display: flex;
    text-align: left;
    color: $primary-color;

    >* {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 56px;
        font-weight: $font-weight-700;
        line-height: 48px;
        width: 14ch;

        @media (width < 750px){
            font-size: 40px; 
        }
         
    }

    p {
        font-size: 19px;
        font-weight: $font-weight-400;
        line-height: 25px;
        width: 40ch;
        
        @media (width < 750px){
            font-size: 19px;  
            width: 30ch;  
        } 
    }

    .ratings {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        gap: 16px; 

        .stars {

            background-image: url(/images/icon-star.svg), url(/images/icon-star.svg), url(/images/icon-star.svg), url(/images/icon-star.svg), url(/images/icon-star.svg);
            background-repeat: no-repeat;
            background-position: 20px, 40px, 60px, 80px, 100px;
            width: 445px;
            height: 56px;
            background-color: $neutral-light-color;
            border-radius: 8px;
            font-size: 17px;
            font-weight: $font-weight-700;

            @media (width < 750px){
                width: 327px;
                height: 78px; 
                background-position: 50%, calc(50% - 20px), calc(50% - 40px), calc(50% + 20px), calc(50% + 40px),  ;   
                background-position-y: 12px;             
            }   

            p{
                position: relative;
                top: 20px;     
                /* margin: 0px; */    
                /* padding: 0px; */ 
             
            }  

            @media (width > 750px){
            p {
                position: relative;
                left: 160px;
                top: 0px;  
            }
        } 
        }

        @media (width > 750px) {
            .stars-2 { 
                position: relative;
                translate: 48px;
            }

            .stars-3 {
                position: relative;
                translate: calc(2 * 48px);
            }
        }
    }

    @media (width < 750px) {
        flex-direction: column;
        text-align: center;

    }


}


.bot-section {
    display: flex;
    gap: 30px;

    @media (width < 750px){
        flex-direction: column;
    } 

    .card {
        background-color: $primary-color;
        color: white;
        padding: 32px;
        height: calc(234px - 2 * 32px);
        border-radius: 8px;
        border: none;
        text-align: left;
        width: calc(350px - 64px);
        position: relative;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas:
            'picture name'
            'picture verified'
            'comment comment';

        h2,
        h3,
        p {
            margin: 0px;
        }

        h2 {
            font-weight: $font-weight-700;
            font-size: 17px;
            grid-area: name;
            align-self: flex-end;
        }

        h3 {

            font-weight: $font-weight-400;
            font-size: 17px;
            color: $accent-color;
            grid-area: verified;
        }

        p {
            font-weight: $font-weight-500;
            font-size: 17px;
            letter-spacing: -0.3px;
            line-height: 22px;
            grid-area: comment;
        }

        img {
            grid-area: picture;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            align-self: center;
            justify-self: left;
        }

        @media (width < 750px){
            width: calc(327px - 64px);
    }

    .irene {
        top: 24px;
    }

    .anne {
        top: 48px;
    }

}
} 